---
import "../styles/global.css";
import SquareButton from "../components/buttons/squareButton.astro";
const props = Astro.props;
const currentPath = Astro.url.pathname
---
<script>
  const navbar = document.getElementById("navbar");
  const logo = document.getElementById("logo");

  window.addEventListener("scroll", () => {
    const scrolled = document.body.scrollTop > 60 || document.documentElement.scrollTop > 60;
    navbar?.classList.toggle("py-5", !scrolled);
    navbar?.classList.toggle("py-0", scrolled);
    navbar?.classList.toggle("shadow-sm", scrolled);
    logo?.classList.toggle("text-3xl", !scrolled);

  });
</script>
<nav >
    <ol
    id="navbar"
    class="fixed top-0 left-0 right-0 z-50 flex justify-between content-center  transition-all duration-300  bg-transparent"
  >
    <div class="flex flex-row items-center px-5 my-1">
      <a href="/">
      <SquareButton href = "/" isActive={currentPath === "/"}>
        Home
      </SquareButton>
      </a>
  
    </div>
    <div class="flex items-stretch justify-end gap-6 px-5 my-1 ">
      <a href="/#Contact" class= "flex gap-2">
      <SquareButton href="/#Contact" isActive={currentPath === "/#Contact"}>
        
        <svg class = "mt-1"
          xmlns="http://www.w3.org/2000/svg"
          width="1.5em"
          height="1.5em"
          viewBox="0 0 24 24"
          {...props}
        ><path fill="currentColor" d="M17 21v-3h-3v-2h3v-3h2v3h3v2h-3v3ZM4 18q-.825 0-1.412-.587Q2 16.825 2 16V6q0-.825.588-1.412Q3.175 4 4 4h13q.825 0 1.413.588Q19 5.175 19 6v5.075q-.25-.05-.487-.063Q18.275 11 18 11t-.512.012q-.238.013-.488.063V7.4L10.4 12L4 7.425V16h8.075q-.05.25-.063.488Q12 16.725 12 17t.012.512q.013.238.063.488ZM5.45 6l4.95 3.55L15.5 6Z"></path></svg>
      </SquareButton>
      </a>

      <a href="/weird">
        <SquareButton isActive={currentPath === "/weird"}>
          
      <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24" {...props}><!-- Icon from Solar by 480 Design - https://creativecommons.org/licenses/by/4.0/ --><g fill="none"><circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="1.5"/><path stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="M8.913 15.934c1.258.315 2.685.315 4.122-.07s2.673-1.099 3.605-2.001"/><ellipse cx="14.509" cy="9.774" fill="currentColor" rx="1" ry="1.5" transform="rotate(-15 14.51 9.774)"/><ellipse cx="8.714" cy="11.328" fill="currentColor" rx="1" ry="1.5" transform="rotate(-15 8.714 11.328)"/><path stroke="currentColor" stroke-width="1.5" d="m13 16l.478.974a1.5 1.5 0 1 0 2.693-1.322l-.46-.935"/></g></svg>

    </SquareButton>  
    </a>
      

  </ol>
</nav>
