---
import "../styles/global.css"
const {href, title, ...rest}= Astro.props

---

<button class="rounded-md px-4 py-2 bg-gray-50 text-primary font-bold font-mono shadow-[6px_6px_12px_#babecc,_-6px_-6px_12px_#ffffff] active:shadow-[inset_6px_6px_12px_#babecc,_inset_-6px_-6px_12px_#ffffff] hover:translate-y-[2px] transition duration-150">
    <div><slot></slot></div>
</button>


